.has-danger{
	color:red;
}

.header__nav-bar--item:hover{
	background-color: #bf2621;
}

.header__nav-bar--item:active{
	background-color: #960e09;
}

.row__box{
	margin-top: 25px;
	border: 1px solid black;
	padding: 15px;
}

.user-private_buttons{
	margin-bottom: 5px;
	margin-right: 5px;

}

.left__side-flat{

}

.right__side-flat{

}